@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    overflow: hidden;
    color: white;
    background-color: rgb(40, 40, 40);
}

.container {
    position: relative;

    .sidebar {
        position: absolute;
        height: 100vh;
        z-index: 999;

        &::before {
            z-index: -999;
            content: '';
            padding: 20px;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.5;
        }

        .sidebar-container {
            padding: 20px;
            height: 100%;

            h1 {
                margin-bottom: 20px;
            }

            form {
                display: flex;

                input {
                    outline: none;
                    border: none;
                    padding: 0 4px;
                    color: black;
                    font-weight: 600;
                }

                button[type='submit'] {
                    color: white;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    padding: 2px 12px;
                    background-color: #35a29f;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .error {
                color: red;
                font-weight: 600;
                font-size: 13px;
                margin-top: 10px;
            }
        }
    }
}
